<%-
  if File.exist? "app/views/layouts/_menu.html.erb"
    insert_into_file "app/views/layouts/_menu.html.erb",
      "    \<\%= drop_down t(\'activerecord.models.#{singular_table_name}.other\') do \%\>\n" +
      "      \<\%= menu_item t(\'helpers.titles.index\', model: #{singular_table_name.camelize}.model_name.human( :count => 2 ) ), #{plural_table_name}_path \%\>\n" + 
      "      \<\%= menu_item t(\'helpers.titles.new\', model: #{singular_table_name.camelize}.model_name.human), new_#{singular_table_name}_path \%\>\n" +
      "    \<\% end \%\>\n",
      :before => "    \<\%= menu_item t(\'menu.about\'), page_path(\'about\') \%\>"
  end
  create_file "config/locales/de/de.model.#{singular_table_name}.yml", 
    "# de.model.#{singular_table_name}.yml\n"+
    "de:\n" +
    "  activerecord:\n" +
    "    models:\n" +
    "      #{singular_table_name}:\n" +
    "        one: \"#{singular_table_name}\"\n" +
    "        other: \"#{plural_table_name}\"\n" +
    "    attributes:\n" +
    "      #{singular_table_name}:\n" 
-%>
<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %><%= attribute.type.in?([:date]) ? ", :input_html => { :size => 10, :maxlength => 10, :language => I18n.locale }, as: :date_picker" : "" %> %>
    <%- append_to_file "config/locales/de/de.model.#{singular_table_name}.yml", "        #{attribute.name}: \"#{attribute.name}\"\n" -%>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit %>
  </div>
<%% end %>
