<%-
  require 'yaml'
  translation_file = "doc/translation.yml"
  if File.exist? translation_file
    translation = YAML::load(File.read(translation_file))
  end
  if File.exist? "app/views/layouts/_menu.html.erb"
    insert_into_file "app/views/layouts/_menu.html.erb",
      "    \<\%= drop_down t(\'activerecord.models.#{singular_table_name}.other\') do \%\>\n" +
      "      \<\%= menu_item t(\'helpers.titles.index\', model: #{singular_table_name.camelize}.model_name.human( :count => 2 ) ), #{plural_table_name}_path \%\>\n" +
      "      \<\%= menu_item t(\'helpers.titles.new\', model: #{singular_table_name.camelize}.model_name.human), new_#{singular_table_name}_path \%\>\n" +
      "    \<\% end \%\>\n",
      :before => "    \<\%= menu_item t(\'menu.about\'), page_path(\'about\') \%\>"
  end
  one = singular_table_name
  other = plural_table_name
  if translation['de'][singular_table_name]
    one = ( translation['de'][singular_table_name]['one'] ? translation['de'][singular_table_name]['one'] : singular_table_name )
    other = ( translation['de'][singular_table_name]['other'] ? translation['de'][singular_table_name]['other'] : plural_table_name )
  end
  create_file "config/locales/de/de.model.#{singular_table_name}.yml",
    "# de.model.#{singular_table_name}.yml\n"+
    "de:\n" +
    "  activerecord:\n" +
    "    models:\n" +
    "      #{singular_table_name}:\n" +
    "        one: \"#{one}\"\n" +
    "        other: \"#{other}\"\n" +
    "    attributes:\n" +
    "      #{singular_table_name}:\n"
  gsub_file "config/routes.rb", "# root 'welcome#index'\n", "root '#{plural_table_name}#index'\n"
-%>
<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>
  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %><%= attribute.type.in?([:date]) ? ", :input_html => { :size => 10, :maxlength => 10, :language => I18n.locale }, as: :date_picker" : "" %> %>
    <%-
        value = attribute.name
        if translation['de'][attribute.name]
          if translation['de'][attribute.name]['one']
            value = translation['de'][attribute.name]['one']
          else
            value = translation['de'][attribute.name]
          end
        end
        append_to_file "config/locales/de/de.model.#{singular_table_name}.yml", "        #{attribute.name}: \"#{value}\"\n"
    -%>
  <%- end -%>
  </div>
  <div class="form-actions">
    <%%= f.button :submit %>
  </div>
<%% end %>
